@model IEnumerable<BMS.MaintanenceTable>

@{
    Layout = null;
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #ddd;
        }

        th {
            text-align: left;
        }

        td, th {
            padding: 0;
        }

        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        user agent stylesheet
        th {
            display: table-cell;
            vertical-align: inherit;
            font-weight: bold;
            text-align: -internal-center;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        user agent stylesheet
        table {
            border-collapse: separate;
            text-indent: initial;
            border-spacing: 2px;
        }

        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 1.42857143;
            color: #333333;
            background-color: #fff;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "ShowAdmin", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Reports", "Index", "Reports", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("LogOut", "Index", "Login", new { area = "" }, null)</li>
                </ul>
            </div>

        </div>
    </div>
    <h4>Maintanance Request Report</h4>
    <hr />
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>Request ID</th>
            <th>Request</th>
            <th>User</th>
            <th>Status</th>
            <th>Requested Date</th>
            <th>Approved/Rejected Date</th>

        </tr>
        @foreach (MaintanenceTable mn in Model)
        {
            <tr>
                <td>@mn.Reqid</td>
                <td>@mn.request</td>
                <td>@mn.RegUser.name</td>
                <td>@mn.status</td>
                <td>@mn.reqdate.ToString("dd/MM/yyyy")</td>
                <td>@mn.RejApproveDate</td>
            </tr>
        }
    </table>
    <br />
    <a href="~/Report.aspx">View Report</a>
</body>
</html>
