@model IEnumerable<BMS.MaintanenceTable>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h4>Customers</h4>
    <hr />
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>Request ID</th>
            <th>Request</th>
            <th>User</th>
            <th>Status</th>
            <th>Requested Date</th>
            <th>Approved/Rejected Date</th>

        </tr>
        @foreach (MaintanenceTable mn in Model)
        {
    <tr>
        <td>@mn.Reqid</td>
        <td>@mn.request</td>
        <td>@mn.RegUser.name</td>
        <td>@mn.status</td>
        <td>@mn.reqdate</td>
        <td>@mn.RejApproveDate</td>
    </tr>
        }
    </table>
    <br />
    <a href="~/Reports/Report.aspx">View Report</a>
</body>
</html>
